:root {
    /* primary colors */
    --bg-color: hsl(257, 40%, 49%);
    --accent-color: hsl(300, 69%, 71%);
    /* neutral colors */
    --white: hsl(0, 0%, 100%)
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
    font-size: 1.07rem;
}

body {
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
    background-color: var(--bg-color);
    color: var(--white);
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    background-image: url("./images/bg-desktop.svg");
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover-fit;
}

img,
picture,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

header {
    min-height: 8rem;
    margin-top: 4rem;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 2.2rem;
    font-weight: 600;
    padding-right: 4rem;
}

p {
    margin: 2rem 0rem;
}

.button {
    width: 12.5rem;
    background-color: #FFFFFF;
    border-radius: 2rem;
    padding: 1rem;
    border: 0.05px solid black;
    font-style: 18px;
    color: var(--bg-color);
    -webkit-box-shadow: 14px 6px 20px -1px rgba(0, 0, 0, 0.72);
    -moz-box-shadow: 14px 6px 20px -1px rgba(0, 0, 0, 0.72);
    box-shadow: 14px 6px 20px -1px rgba(0, 0, 0, 0.72);
}

.button:hover {
    color: var(--white);
    background-color: var(--accent-color);
}

.logo {
    max-width: 12rem;
}

.main-center {
    max-width: 1440px;
}

.card-container {
    display: flex;
    gap: 1rem;
    max-width: 1400px;
}

.image-container {
    flex-basis: 50%;
}

.info-container {
    flex-basis: 50%;
    padding: 3rem 5rem 3rem 3rem;
}

footer {
    padding-top: 1rem;
}

.social-media {
    display: flex;
    justify-content: flex-end;
    padding-right: 7rem;
}

.social-media a:not(:first-child) {
    margin-left: 1rem;
}

ion-icon {
    color: var(--white);
    font-size: 1.5rem;
    outline: 1px solid white;
    border-radius: 50%;
    padding: 0.5rem;
}

ion-icon:hover {
    color: var(--accent-color);
    outline: 1px solid var(--accent-color);
}

@media only screen and (max-width: 986px) {

    body {
        background-image: url("./images/bg-mobile.svg");
        font-size: 1.0rem;
    }

    h1 {
        padding: 0rem;
        margin: 0rem;
        border: 1px solid green;
    }

    .main-center {
        width: 97%;
    }

    .main-center> * {
        text-align: center;
    }

    .card-container {
        display: flex;
        flex-direction: column;
    }

    footer {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-right: 0rem;

    }

    .social-media {
        padding-right: 0rem;
        padding-top: 2rem;
        margin-bottom: 1rem;
    }

    .first {
        margin-left: 0rem;
    }
}

@media only screen and (max-width: 500px) {

    body {
        background-image: url("./images/bg-mobile.svg");
        font-size: 0.9rem;
    }

    h1 {
        padding: 2rem 1rem 2rem 1rem;
        margin: 0rem;
        font-size: 1.4rem;
    }

    .info-container {
        padding: 0rem;
    }
}
